<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    bean标签的两个重要属性
            id:唯一标识
            class:必须是全限定类名
-->
    <bean id="userBean" class="com.limu.spring6.bean.User"/>

    <bean id="nowTime" class="java.util.Date"/>


</beans>