<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="strArrayBean" class="com.limu.spring6.bean.StrArray">
        <!--这个数组属性当中的元素类型是String简单类型-->
        <property name="hobbies">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>
        <property name="womans">
            <array>
                <ref bean="womanBean"/>
                <ref bean="womanBean2"/>
                <ref bean="womanBean3"/>
            </array>
        </property>
    </bean>

    <bean id="womanBean" class="com.limu.spring6.bean.Woman">
        <property name="name" value="woman1"/>
    </bean>

    <bean id="womanBean2" class="com.limu.spring6.bean.Woman">
        <property name="name" value="woman2"/>
    </bean>

    <bean id="womanBean3" class="com.limu.spring6.bean.Woman">
        <property name="name" value="woman3"/>
    </bean>
</beans>