<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.limu.spring6.aspect.service.UserService"/>

    <!--切点-->
    <bean id="timerAspect" class="com.limu.spring6.aspect.service.TimerAspect"/>

    <aop:config>
        <aop:pointcut id="myPointCut" expression="execution(* *.*(..))"/>
        <!--切面 = 切点+通知-->
        <aop:aspect ref="timerAspect">
           <aop:around method="aroundAdvice" pointcut-ref="myPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>